<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Trainer - Game Modes</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Chess Trainer</h1>
        <p>Choose a gamemode to get started:</p>
    </header>
    <main>

        <div id="gamemode-list-container">

            <div class="gamemode-container">
                <div class="dummy-gamemode-icon">dummy image</div> 
                <h2>Puzzle Name</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eos excepturi incidunt nulla assumenda voluptas est error id facilis esse magnam ut, nostrum suscipit nobis sapiente eaque, molestiae ratione vel voluptatibus doloribus. Autem enim eum iusto asperiores praesentium expedita delectus?</p>
                <a class="filled-button" href="">Play Now</a>
            </div>

            

        </div>

    </main>
    <script src="/src/main/resources/static/js/script.js"></script>
</body>
</html>